<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Dan Molloy">
    <title>ViewMixer</title>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/css/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/css/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/css/favicon/favicon-16x16.png">
    <link rel="manifest" href="/css/favicon/site.webmanifest">
    <link rel="mask-icon" href="/css/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      
      @media screen and (max-width: 750px) {
        iframe {
          max-width: 100% !important;
          width: auto !important;
          height: auto !important;
        }
      }
    </style>
        <!-- Custom styles for this template -->
        <link href="../css/webxr.css" rel="stylesheet">
</head>

<body class="text-center">
    <script src="https://kit.fontawesome.com/86f3d02ba1.js" crossorigin="anonymous"></script>
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand"><img src="/css/favicon/favicon-32x32.png" />ViewMixer Builder Demo</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="#">Demo</a>
                <!-- <a class="nav-link" href="https://github.com/NikLever/CanvasUI">CanvasUI</a>
                <a class="nav-link" href="https://threejs.org">ThreeJS</a> -->
            </nav>
        </div>
    </header>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">


        <main role="main" class="inner cover">
            <h1 class="cover-heading">&nbsp;</h1>
            <p class="lead">This page demonstrates the basic functions of the ViewMixer builder</p>
            <p class="lead">
                <a href="https://viewmixer.com"
                    class="btn btn-lg btn-secondary">Learn more</a>
            </p>
        </main>


        <section>
        <script type="module">
            import { VMBuilder } from '/js/vm-builder.js';

            document.addEventListener("DOMContentLoaded", function () {
                const vmbuilder = new VMBuilder();
                window.app = vmbuilder;
            });
        </script>
        </section>



        <!-- <section>
            <h3>Useful links</h3>
            <ul>
                <li><a href="https://three-mesh-ui.herokuapp.com/#basic_setup">three-mesh-ui</a></li>
                <li><a href="https://immersive-web.github.io/webxr-samples/">WebXR Samples</a></li>
            </ul>
        </section> -->
        <br>
    </div>
    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p><a href="mailto:info@viewmixer.com"><i class="fa fa-envelope"></i> info@viewmixer.com</a>&emsp;<a
                    href="https://twitter.com/ViewMixer"><i class="fa fa-twitter"></i> @Viewmixer</a>&emsp;<a
                    href="https://www.facebook.com/groups/viewmixer"><i class="fa fa-facebook-official"></i> </p>
        </div>
    </footer>
</body>

</html>